---
import { XataClient } from '../../../xata';
import Base from '../../../layouts/base.astro';
import Organization from '../../../components/organization/organization-list.astro';
const xata = new XataClient({
  apiKey: import.meta.env.XATA_API_KEY,
  branch: import.meta.env.XATA_BRANCH,
});

const organizations = await xata.db.organizations.select(['*', 'location.*']).getMany();
---

<Base>
  <div class='flex space-x-2 mt-2'>
    {organizations.map((org) => <Organization organization={org} />)}
  </div>
</Base>
