---
import Base from '../layouts/base.astro';
const title = 'Community Hub';
---

<Base title={title}>
  <div class='p-4 w-3/4 mx-auto mt-2'>
    <h1 class='text-4xl mb-2 font-light'>{title}</h1>
    <p>
      Community Hub is a platform for connecting communities in a modern era without the baggage of social media. This
      is in effect a social media application but designed with the intentions of being for the community and developed
      by the community.
    </p>
    <h2 class='font-bold text-2xl my-3'>Features</h2>
    <h3 class='text-xl font-semibold my-1'>Community Resource Directory</h3>
    <p class='mb-3'>A comprehensive list of resources available to community members.</p>
    <h3 class='text-xl font-semibold my-1'>Communication Tools</h3>
    <p class='mb-3'>Modern communication tools for connecting communities and sharing ideas.</p>
    <h3 class='text-xl font-semibold my-1'>Interactive Map</h3>
    <p class='mb-3'>An interactive map that highlights local places of interest.</p>
  </div>
</Base>
