---
import Header from '../components/global/header.astro';
import Footer from '../components/global/footer.astro';
const { title } = Astro.props;
---

<html lang='en' data-theme='pastel'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class='flex flex-col h-full'>
    <Header />
    <main class='flex-1'>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
  }
  :root {
    --header-height: 72px; /* Adjust based on your header height */
    --footer-height: 50px; /* Adjust based on your footer height */
  }
</style>
