<header class='navbar flex bg-base-300'>
  <div class='flex-1'>
    <h1 class='btn btn-ghost font-normal text-xl text-black'>
      <img src='/circle-icon.png' alt='' width='25' height='25' /><a href='/'>Community Hub</a>
    </h1>
  </div>
  <div class='flex-none'>
    <ul class='menu menu-horizontal px-1'>
      <li><a href='/map'>Map</a></li>
      <li><a href='/communication'>Communication</a></li>
      <li>
        <details>
          <summary> Directory</summary>
          <ul class='p-2 bg-base-100 rounded-t-none'>
            <li><a href='/directory/organizations'>Organizations</a></li>
            <li><a href='/directory/people'>People</a></li>
            <li><a href='/directory/resources'>Resources</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</header>
